html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

section {
  padding: 50px 100px 20px 100px;
  width: 70%;
  height: 500px;
  background-color: rgba(30, 30, 30, 0.435);
  border-radius: 20px;
  color: white;
  box-shadow: 4px 4px 8px rgba(69, 69, 69, 0.435);
  backdrop-filter: blur(2px);
}

h1 {
  font-size: 2rem;
  text-align: center;
}

label,
p,
h4 {
  font-size: 1.25rem;
}

.bg {
  height: 100%;
  background-image: url(./backImg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  display: flex;
  flex-direction: column;
}

#form label {
  margin-top: 20px;
}
#form select,
input {
  height: 30px;
}
#form button {
  margin: 50px auto 0 auto;
  width: 200px;
  height: 50px;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
#form button:hover {
  cursor: pointer;
  background-color: rgb(255, 147, 147);
}
#form button {
  margin: 50px auto 0 auto;
  width: 200px;
  height: 50px;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.result {
  margin-top: 40px;
}

@media (max-width: 900px) {
  section {
    padding: 30px 60px 20px 60px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 20px 30px;
  }
}
